.add-service__name{
  input:checked + label{
    &::before{
      background-image: url("../img/ui/checkbox_checked.svg");

    }
  }
  label{
    &::before{
      background-image: url("../img/ui/checkbox_unchecked.svg");
    }

  }
}