$accent-color: #003066;
$yellow-color: #f5c256;
$main-text-color: black;
$light-text-color: #686868;

$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


$z-lowest: -1;
$z-low: 0;
$z-medium: 100;
$z-high: 500;
$z-highest: 1000;

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #F7FAF9;
}


main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url("../img/ui/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color:  #FDFFFE;
}
button{
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.h-100 {
  height: 100%;
}

.text {
  > :last-child {
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  h2 {
    text-transform: uppercase;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    @media screen and (min-width: $md-width) {
      font-size: 16px;
    }
  }
}


.overflow_hidden {
  overflow: hidden;
}





.position-relative {
  position: relative;
}

