.fs-btn-select {
  font-size: 20px;
  line-height: 23px;
  color: $accent-color;
  padding: 10px 20px 10px 50px;
  background-color: transparent;
  background-image: url("../img/file-upload/upload-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
}