@mixin font($fname, $fstyle, $fweight, $furl, $furl2) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname),
    url($furl) format('woff2'),
    url($furl2) format('woff');
    font-display: swap; // Uncomment to initially display system fonts
  }
}

@include font('Roboto', normal, normal, '../fonts/roboto-regular.woff2', '../fonts/roboto-regular.woff')
@include font('Roboto', normal, 500, '../fonts/roboto-500.woff2', '../fonts/roboto-500.woff')
@include font('Roboto', normal, bold, '../fonts/roboto-700.woff2','../fonts/roboto-700.woff')
@include font('Roboto', normal, 800, '../fonts/roboto-800.woff2','../fonts/roboto-800.woff')
