.form {
  &__input {
    position: relative;
    border: 1px solid #F3F3F3;
    border-radius: 2px;
    background: #F4F9FF;
    font-size: 14px;

    label {
      position: absolute;
      top: 50%;
      left: 13px;
      transition: left .25s, top .25s, font-size .25s, transform .25s;
      transform: translateY(-50%);
      color: #686868;
      &.active {
        font-size: 10px;
        left: 13px;
        top: 3px;
        transform: translateY(0);
      }
    }

    input {
      display: block;
      padding: 15px 13px;
      border: none;
      background: transparent;
      outline: none;
      width: 100%;

      &:focus + label {
        font-size: 10px;
        left: 13px;
        top: 3px;
        transform: translateY(0);
      }
    }
  }
  &__submit{
    padding: 15px 35px;
    width: 100%;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    color: #686868;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    text-align: center;
    background-color: #FFCC40;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: calc(100% - 12px) center;
  }
  &__button{
    &_prev{
      background-color: $accent-color;
      border: 1px solid $accent-color;
      background-image: url("../img/ui/white-back-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
    }
  }
  &__checkbox {
    label {
      &::before {
        background-image: url("../img/ui/checkbox_unchecked.svg");
      }
    }

    &.checked {
      label {
        &::before {
          background-image: url("../img/ui/checkbox_checked.svg");
        }
      }
    }
  }

}