.header {
  background: $accent-color;
  height: 80px;
  @media screen and (min-width: $lg-width) {
    height: auto;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    @media screen and (min-width: $lg-width) {
      justify-content: flex-start;
      padding: 0 350px 0 200px;

    }
    @media screen and (min-width: 1400px) {
      justify-content: center;
    }
  }

  &__logo {
    width: 149px;
    padding: 11px 7px 9px;
    border-radius: 5px;
    background: $accent-color;
    @media screen and (min-width: $lg-width) {
      position: absolute;
      left: 35px;
      top: 0;
    }
  }

  &__menu {
    display: none;
    @media screen and (min-width: $lg-width) {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;


      li {
        list-style: none;

        a {
          display: block;
          padding: 30px 15px;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          color: white;
          text-decoration: none;
          @media screen and (min-width: 1400px) {
            font-size: 18px;
            padding: 30px 20px;
          }
        }
      }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 52px;
    align-items: center;
    transform: translateY(-50%);
    display: none;
    @media screen and (min-width: $lg-width) {
      display: flex;
    }
  }

  &__account {
    position: relative;

    &-button {
      cursor: pointer;
      margin-right: 20px;
      padding: 8px 45px 8px 15px;
      border: none;
      outline: none !important;
      font-weight: 400;
      font-size: 16px;
      color: #282828;
      background: #FFCC40;
      border-radius: 2px;
      border: 1px solid #034795;

      &.account-button_login {
        background-image: url('../img/ui/account-button_login.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: calc(100% - 15px) center;
      }
    }

    &-menu {
      display: none;
      position: absolute;
      bottom: 0;
      left: 1px;
      padding: 8.5px 0;
      transform: translateY(calc(100% - 5px));
      background: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 5px 5px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            display: block;
            padding: 8.5px 35px 8.5px 15px;
            color: #282828;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            text-decoration: none;
            background-image: url("../img/ui/arrow.svg");
            background-size: 5px 10px;
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;

            &:hover {
              background-color: #F4F9FF;
            }
          }
        }
      }

      &.open {
        display: block;
      }
    }
  }

  &__lang {
    a {
      display: flex;
    }
  }
}
