.header {
  background: $accent-color;
  position: relative;
  z-index: 1001;
  @media screen and (min-width: $xl-width) {
    height: auto;
  }

  &__mobile-control {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $accent-color;


    button {
      outline: none !important;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;

    @media screen and (min-width: $xl-width) {
      position: relative;
      justify-content: flex-start;
      padding: 0 350px 0 200px;

    }
    @media screen and (min-width: 1400px) {
      justify-content: center;
    }
  }

  &__logo {
    height: 80px;
    padding: 11px 7px 9px;
    border-radius: 5px;
    background: $accent-color;
    @media screen and (min-width: $xl-width) {
      width: 149px;
      height: auto;
      position: absolute;
      left: 35px;
      top: 0;
    }
    img{
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__menu {
    display: none;
    @media screen and (min-width: $xl-width) {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;


      li {
        list-style: none;
        position: relative;

        a {
          display: block;
          padding: 30px 15px;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: white;
          text-decoration: none;
          @media screen and (min-width: 1400px) {
            font-size: 18px;
            padding: 30px 20px;
          }
        }
      }
    }
    > nav {
      > ul {
        > li {
          &:hover {
            .dropdown {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    .dropdown {
      position: absolute;
      left: 50%;
      bottom: -4px;
      width: 250px;
      transform: translateX(-50%) translateY(100%);
      background: white;
      color: black;
      padding: 10px 0;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(black, .2);
      opacity: 0;
      visibility: hidden;
      transition: visibility .25s, opacity .25s;

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;

        li {
          width: 100%;
        }

        a {
          display: block;
          color: black;
          font-size: 16px;
          font-weight: normal;
          padding: 10px;

          &:hover {
            background: rgba($accent-color, .1);
          }
        }
      }
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 52px;
    align-items: center;
    transform: translateY(-50%);
    display: none;
    @media screen and (min-width: $xl-width) {
      display: flex;
    }
  }

  &__account {
    position: relative;

    &-button {
      cursor: pointer;
      margin-right: 20px;
      padding: 8px 45px 8px 15px;
      border: none;
      outline: none !important;
      font-weight: 400;
      font-size: 14px;
      color: #282828;
      background: #FFCC40;
      border-radius: 2px;
      border: 1px solid #034795;
      @media screen and (min-width: 1400px) {
        font-size: 16px;

      }

      &.account-button_login {
        background-image: url('../img/ui/account-button_login.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: calc(100% - 15px) center;
      }
    }

    &-menu {
      display: none;
      position: absolute;
      bottom: 0;
      left: 1px;
      padding: 8.5px 0;
      transform: translateY(calc(100% - 5px));
      background: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 5px 5px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a, button {
            width: 100%;
            display: block;
            padding: 8.5px 35px 8.5px 15px;
            color: #282828;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            text-decoration: none;
            background-image: url("../img/ui/arrow.svg");
            background-size: 5px 10px;
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
            border: none;
            background-color: transparent;
            text-align: left;
            &.logout{
              background-image: none;
            }

            &:hover {
              background-color: #F4F9FF;
            }
          }
        }
      }

      &.open {
        display: block;
      }
    }
  }

  &__lang {
    a {
      display: flex;
    }
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  background: rgba($accent-color,.9);

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
  }

  &__lang {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__menu{
    margin-bottom: 20px;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      list-style: none;
    }
    a{
      color: white;
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 18px;
      line-height: 21px;
      text-decoration: none;
    }
  }

  &__accordion {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .accordion__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .accordion {
      &__title {
        position: relative;
        font-size: 18px;
        text-align: center;
        text-transform: none;
        &::before{
          position: absolute;
          top: 50%;
          right: 17px;
          display: block;
          content: '';
          height: 10px;
          width: 5px;
          background-image: url("../img/ui/arrow.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          transform: translateY(-50%) rotate(-90deg);
          transition: transform .25s;
        }
        &.open{
          &::before{
            transform: translateY(-50%) rotate(90deg);

          }
        }

        &:hover{
          background-color: $yellow-color!important;
        }
      }

      &__inner-content {
        a, button {
          color: $main-text-color;
          text-decoration: none;
        }

        nav {
          padding: 10px 0;

          a, button {
            display: block;
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 10px 10px;
            font-size: 18px;
            text-align: left;
            &:not(.logout) {
              background-image: url("../img/ui/arrow.svg");
              background-position: calc(100% - 15px) center;
              background-repeat: no-repeat;
              background-size: 5px 10px;
            }

            &:hover {
              background-color: darken(#F4F9FF, 5);
            }
          }
        }
      }

      &__content {
        transform: translateY(-5px);
        &-wrapper {
          background: white;
          border-radius: 0 0 10px 10px;
          color: $main-text-color;
        }
      }
    }
  }

}

.accordion {

  &__title {
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }

}



