.personal-cab {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 40px 0;
    text-align: center;
    @media screen and (min-width: $lg-width){
      padding-top: 20px;
      padding-bottom: 25px;
    }

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: $accent-color;
    }
  }

  &__subtitle {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: black;
    margin-bottom: 20px;

    @media screen and (min-width: $sm-width){
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 37px;
    }
  }


}


.control {
  &__block {
    display: block;
    padding: 15px 40px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(black, 0.1);
    @media screen and (min-width: $lg-width) {
      padding: 18px 90px 50px;
    }

    &:hover {
      background: #F4F9FF;
    }
  }

  &__title {
    color: $accent-color;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    @media screen and (min-width: $lg-width) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 15px;
    @media screen and (min-width: $lg-width) {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 37px;
    }
  }

  &__desc {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 20px;
    flex-shrink: 0;
    @media screen and (min-width: $lg-width) {
      width: 75px;
    }

    img {
      width: 100%;
      object-position: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
    color: $light-text-color;
    @media screen and (min-width: $lg-width) {
      font-size: 16px;
      line-height: 19px;
    }

  }

}



