.button{
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: normal;
  padding: 15px;
  background-color: transparent;
  transition: background-color .25s;
  @media screen and (min-width: $lg-width){
    font-size: 18px;
    line-height: 21px;
  }
  &_yellow{
    color: black;
    border-color:$yellow-color;
    background-color: $yellow-color;;
    text-transform: uppercase;
    &:hover{
      background-color: white;
    }
  }
  &_blue{
    color: white;
    background-color: $accent-color;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    &:hover{
      background-color: $yellow-color;
      border-color: $yellow-color;
      color: black;
    }
  }
  &_transparent{
    color: $accent-color;
    background-color: white;
    background-position: center center;
    border-color: $yellow-color;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    &:hover{
      background-color: $yellow-color;
      border-color: $yellow-color;
      color: black;
    }
  }
}