.user-data{
  &__verify{
    &::before {
      background-image: url('../img/ui/verify-success-icon.svg');
    }
  }
  &__rename{
    background: url('../img/ui/rename-icon.svg') center no-repeat;
  }
  &__submit{
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("../img/user-data/submit-icon.svg");
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
  }
}

.tooltip {

  &.popover {
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: white;
    max-width: 355px;

    .popover-inner {
      padding: 20px;
      font-size: 14px;
      line-height: 16px;
      .button{
        font-size: 14px;
      }
    }
  }
}
