$accent-color: #003066;
$yellow-color: #f5c256;
$main-text-color: black;
$light-text-color: #686868;


$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


$z-lowest: -1;
$z-low: 0;
$z-medium: 100;
$z-high: 500;
$z-highest: 1000;


@mixin font($fname, $fstyle, $fweight, $furl, $furl2) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: local($fname),
    url($furl) format('woff2'),
    url($furl2) format('woff');
    font-display: swap; // Uncomment to initially display system fonts
  }
}

@include font('Roboto', normal, normal, '/assets/sass/roboto-regular.woff2', '/assets/sass/roboto-regular.woff');
@include font('Roboto', normal, 500, '/assets/sass/roboto-500.woff2', '/assets/sass/roboto-500.woff');
@include font('Roboto', normal, bold, '/assets/sass/roboto-700.woff2','/assets/sass/roboto-700.woff');
@include font('Roboto', normal, 800, '/assets/sass/roboto-800.woff2','/assets/sass/roboto-800.woff');


