$accent-color: #003066;
$yellow-color: #f5c256;
$main-text-color: black;
$light-text-color: #686868;


$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


$z-lowest: -1;
$z-low: 0;
$z-medium: 100;
$z-high: 500;
$z-highest: 1000;

button, a{
  outline: none;
}

.done-text{
  padding: 20px;
  color: #375B28;
  border: 1px solid #375B28;
  border-radius: 5px;
}

.invalid{
  border: 1px solid red;
  animation: invalid .5s forwards;
}


@keyframes invalid {
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(10px);
  }
  30%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(7px);
  }
  50%{
    transform: translateX(-7px);
  }
  60%{
    transform: translateX(5px);
  }
  70%{
    transform: translateX(-5px);
  }
  80%{
    transform: translateX(2px);
  }
  90%{
    transform: translateX(-2px);
  }
  100%{
    transform: translateX(0);
  }
}
