$accent-color: #003066;
$yellow-color: #f5c256;
$main-text-color: black;
$light-text-color: #686868;


$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


$z-lowest: -1;
$z-low: 0;
$z-medium: 100;
$z-high: 500;
$z-highest: 1000;

